In [1]:
import pandas as pd
car_sales = pd.read_csv("Car-sales.csv")
car_sales.head(15)

      Make  Color  Odometer(Miles)  Doors       Price
0   Toyota  Black          15963.0    5.0  $22,803.00
1    Honda  White          65265.0    4.0   $6,768.00
2   Toyota  White          58803.0    4.0   $8,662.00
3    Honda    Red          79033.0    4.0   $5,678.00
4   Nissan  White         226163.0    4.0   $3,929.00
5   Toyota  White          60152.0    4.0   $6,513.00
6      BMW  Black              NaN    5.0  $21,287.00
7   Toyota   Blue          59652.0    3.0   $7,548.00
8   Nissan  White         218857.0    4.0   $4,470.00
9   Toyota   Blue          53355.0    4.0   $5,386.00
10     NaN  White          30359.0    4.0   $8,708.00
11  Toyota   Blue          64305.0    4.0         NaN
12  Toyota  White          67270.0    4.0   $7,736.00
13  Toyota   Blue          64118.0    3.0   $7,179.00
14   Honda   Blue          56917.0    4.0   $7,065.00

In [2]:
car_sales.isna().sum()

Make               249
Color              244
Odometer(Miles)    252
Doors              244
Price              236
dtype: int64

In [3]:
car_sales.dtypes, len(car_sales)

(Make                object
 Color               object
 Odometer(Miles)    float64
 Doors              float64
 Price               object
 dtype: object,
 5000)

In [4]:
car_sales.dropna(subset=["Price"], inplace=True)
len(car_sales)

4764

In [5]:
car_sales["Price"] = car_sales["Price"].str.replace(r'[$,.]', '', regex=True).str[:-2]. astype(int)
car_sales.head()

     Make  Color  Odometer(Miles)  Doors  Price
0  Toyota  Black          15963.0    5.0  22803
1   Honda  White          65265.0    4.0   6768
2  Toyota  White          58803.0    4.0   8662
3   Honda    Red          79033.0    4.0   5678
4  Nissan  White         226163.0    4.0   3929